/* general css */
@font-face {
  font-family: HelveticaLogo;
  src: url(fonts/HelveticaLogo.otf); }
body {
  margin: 0;
  padding: 0;
  background: url("../images/background.jpg") repeat;
  font-family: "Verdana";
  font-size: 12px; }

.wrapper {
  /*min-width:858px;*/
  width: 870px;
  /*margin:37px 175px 42px 174px;*/
  margin: 37px auto;
  position: relative; }

.fleft {
  float: left; }

.clear {
  clear: both; }

/* header */
figure {
  width: 161px; }
  figure figcaption {
    color: #aaaaaa;
    /*  #b4b4b4;*/
    font-family: Verdana;
    font-size: 11px;
    margin-left: 55px;
    margin-top: -3px; }
  figure div a {
    font-family: "HelveticaLogo";
    font-size: 31px;
    color: #aaaaaa;
    text-decoration: none; }
    figure div a span {
      color: #1fbdff;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }

body header {
  overflow: hidden;
  padding-left: 2px; }
  body header figure {
    margin: 0;
    float: left; }

/*nav for header and footer*/
nav {
  float: right;
  margin-top: 5px; }

nav > ul > li > a {
  text-decoration: none;
  list-style: none;
  color: #b3b3b3; }

nav > ul > li {
  margin-right: 9px;
  padding: 10px 15px 8px 15px;
  display: inline; }

nav > ul > li:hover {
  background: #0eb8ff;
  background: linear-gradient(to top, #0eb8ff, #0f8bbe);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

nav > ul > li:hover a {
  color: #FFFFFF; }

nav > ul > li:last-child {
  margin-right: 8px; }

footer nav > ul > li:last-child {
  margin-right: 4px; }

footer nav > ul > li {
  padding: 10px 12px 8px 12px; }

footer nav > ul {
  font-size: 11px; }

/*main*/
main {
  padding: 16px 14px 16px 14px;
  background: rgba(75, 75, 75, 0.5);
  border: 1px solid #626262;
  margin-top: 42px !important;
  width: 822px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: block; }

main > section {
  background: linear-gradient(to top, #ececec, #FFFFFF);
  padding: 15px 5px 15px 5px;
  border: 1px solid #434343;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden; }

.mainTitle {
  font-size: 24px;
  color: #0b81be; }

/*slider*/
main > section > div.slider {
  border: 1px solid #e4e4e4;
  background: #FFFFFF;
  width: 791px;
  margin: 0 auto; }

main > section > div.slider > ul {
  margin: 6px 5px;
  z-index: 3; }

main > section > div.slider > ul > li {
  height: 191px; }

#sliderBack {
  background: linear-gradient(to top, #0eb6fd, #0f8dc2);
  height: 191px;
  width: 781px;
  position: absolute;
  top: 40px;
  left: 34px;
  z-index: 1; }

#mosaic {
  background: url("../images/mosaic.png") repeat;
  opacity: 0.25;
  height: 191px;
  width: 781px;
  position: absolute;
  top: 40px;
  left: 34px;
  z-index: 2; }

main > section > div.slider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type, main > section > div.slider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(2), main > section > div.slider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(3), main > section > div.slider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(4), main > section > div.slider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(5), main > section > div.slider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(6), main > section > div.slider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(7), main > section > div.slider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(8), main > section > div.slider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(9), main > section > div.slider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(10), main > section > div.slider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(11), main > section > div.slider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(12) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

main > section > div.slider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type, main > section > div.slider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(0), main > section > div.slider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(1), main > section > div.slider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(2), main > section > div.slider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(3), main > section > div.slider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(4), main > section > div.slider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(5), main > section > div.slider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(6), main > section > div.slider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(7), main > section > div.slider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(8), main > section > div.slider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(9), main > section > div.slider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(10) {
  transform: initial;
  -webkit-transform: initial; }

main > section > div.slider > .arrows label, .slider > .arrows label:hover {
  width: 36px;
  height: 36px;
  padding: 0;
  background: url("../images/arrow.png") no-repeat;
  box-shadow: none; }

main > section > div.slider > .arrows {
  left: 17px;
  top: 131px;
  width: 756px;
  height: 26px;
  z-index: 4; }

main > section > div.slider > ul > li > div {
  overflow: hidden; }

main > section > div.slider > ul > li > div {
  padding: 20px 30px 0 25px;
  color: #FFFFFF; }

main > section > div.slider > ul > li > div > div:first-child {
  margin-right: 10px; }

main > section > div.slider > ul > li > div > div:last-child {
  width: 480px; }

.sliderTitle {
  font-size: 21px;
  text-shadow: 1px 1px #000000;
  margin: 21px 0 17px 0; }

.sliderText {
  font-size: 12px;
  line-height: 17px; }

/*aside, article*/
#sidebar {
  width: 278px;
  padding: 19px 0 20px 8px; }

article, #sidebar {
  float: left;
  overflow: hidden;
  color: #858585; }

article {
  padding: 20px 0 15px 22px;
  width: 500px; }

aside {
  border-right: 1px solid #e4e4e4; }

aside > p, article > p {
  line-height: 18px;
  margin-top: 9px;
  margin-bottom: 15px;
  margin-right: 5px; }

article > p {
  margin-bottom: 18px; }

article > p > i {
  color: #000000; }

aside > ul {
  padding: 3px 0 0 10px; }

aside > ul > li {
  list-style: none;
  padding: 7px 0 8px 0;
  font-style: italic; }

aside > ul > li > span {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 7px; }

aside > ul > li:first-child {
  padding-top: 0; }

aside > ul > li:last-child {
  border: none;
  padding-bottom: 0; }

aside > ul > li:before {
  /* content: " "; */
  box-shadow: inset 2px -2px 0 0px #2c91c6;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  content: '';
  width: 6px;
  margin-right: 10px;
  height: 6px;
  display: inline-block; }

/*mainBLock*/
#mainBlock {
  border: 1px solid #e4e4e4;
  background: #FFFFFF;
  width: 783px;
  height: 104px;
  overflow: hidden;
  margin: 0 8px 0 8px;
  color: #858585;
  PADDING: 3px 4px 3px 4px; }

#mainBlock > .fleft {
  width: 50%;
  padding: 15px 0;
  overflow: hidden;
  width: 384px;
  height: 70px;
  background: linear-gradient(to top, #f5f5f5, #FFFFFF);
  margin: 0 2px 2px 0; }

#mainBlock > .fleft:first-child {
  border-right: 1px solid #e4e4e4;
  width: 394px; }

#mainBlock > .fleft:last-child {
  margin-left: 0; }

#mainBlock > .fleft > img, #mainBlock > .fleft > span {
  float: left; }

#mainBlock > .fleft > img {
  margin: 14px 0 0 12px; }

#mainBlock > .fleft > span {
  width: 305px;
  margin: 8px 0 0 16px;
  line-height: 17px; }

/*footer*/
footer {
  height: 236px;
  border: 1px solid #000000;
  background: rgba(0, 0, 0, 0.4);
  /*padding:30px 0 0 0;*/
  color: #727272;
  box-shadow: inset 1px 1px 1px #4a4a4a;
  margin-top: 51px;
  position: relative;
  margin-bottom: 0; }
  footer .wrapper {
    overflow: hidden;
    margin-top: 32px;
    height: 175px;
    margin-bottom: 0; }
    footer .wrapper > .fleft > div {
      margin-left: 14px; }
    footer .wrapper > .fleft > .mainTitle {
      margin-top: 5px;
      font-size: 22px;
      color: #FFFFFF; }
  footer figure {
    float: right;
    margin: 18px 17px 0 0px; }

#bubble {
  background: url("../images/bubble.png");
  width: 266px;
  height: 127px;
  position: absolute;
  top: 43px;
  left: 38px;
  color: #858585; }
  #bubble > div {
    margin: 37px 6px 0 19px;
    line-height: 17px; }
  #bubble > #time {
    font-size: 10px;
    color: #0b81be;
    margin-top: 20px;
    font-style: italic; }

#copyright {
  float: right;
  font-size: 11px;
  color: #FFFFFF;
  margin: 51px 17px 0 0; }

/*# sourceMappingURL=style.css.map */
