/* general css */
@font-face {
    font-family: HelveticaLogo; /* Гарнитура шрифта */
    src: url(fonts/HelveticaLogo.otf); /* Путь к файлу со шрифтом */
}

body{
    margin:0;
    padding:0;
    background: url("images/background.jpg") repeat;
    font-family: "Verdana";
    font-size:12px;
}

.wrapper{
    /*min-width:858px;*/
    width:870px;
    /*margin:37px 175px 42px 174px;*/
    margin:37px auto;
    position:relative;
}

/* header */

body>header{
    overflow: hidden;
    padding-left: 2px;
}

body>header>figure{
    margin:0;
    width:161px;
    float:left;
}

body>header>figure>div>a{
    font-family: "HelveticaLogo";
    font-size:31px;
    color:#aaaaaa;
    text-decoration: none;
}

body>header>figure>div>a>span{
    color:#1fbdff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

body>header>figure>figcaption{
    color:#aaaaaa; /*  #b4b4b4;*/
    font-family: Verdana;
    font-size: 11px;
    margin-left: 55px;
    margin-top: -3px
}

body>header>nav{
    float:right;
    margin-top:5px;
}

body>header>nav>ul>li>a{
    text-decoration: none;
    list-style: none;
    color:#b3b3b3;
}

body>header>nav>ul>li {
    margin-right:9px;
    padding: 10px 15px 8px 15px;
    display: inline;
}

body>header>nav>ul>li:hover{
    background: #0eb8ff;
    background: linear-gradient(to top, #0eb8ff, #0f8bbe);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

body>header>nav>ul>li:hover a{
    color:#FFFFFF;
}

body>header>nav>ul>li:last-child{
    margin-right: 8px;
}

/*main*/
main{
    padding: 16px 14px 16px 14px;
    background: rgba(75,75,75,0.5);
    border: 1px solid #626262;
    margin-top: 42px !important;
    width: 822px !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

main>section{
    background:#FFFFFF;
    padding:15px 5px 15px 5px;
    border:1px solid #434343;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

/*slider*/
main>section>div.slider{
    border:1px solid #e4e4e4;
    background: #FFFFFF;
    width:791px;
    margin:0 auto;

}

main>section>div.slider>ul{
    margin:6px 5px;
}
main>section>div.slider>ul>li{
    height:191px;
    background: linear-gradient(to top, #0eb6fd, #0f8dc2);;
}

#mosaic{
    background: url("images/mosaic.png") repeat;
    opacity: 0.25;
    height:100%;
}

/*footer*/
body>footer{

}