@media screen and (min-width: 1200px) {
  .container {
    width: 1170px; } }
@media screen and (min-width: 993px) and (max-width: 1199px) {
  /* pc and horizontal layout planshets */
  .container {
    width: 960px; }

  .header-list-item:first-child, .header-list-item:nth-child(2) {
    margin-right: 34px; }

  .header-list-item:nth-child(3) {
    margin-right: 19px; }

  .header-list-item:last-child {
    margin-right: 30px; }

  .about-tv {
    width: 592px; }

  .about-tv-img {
    margin: 90px 0 0 26px; }

  .about-text {
    width: calc(100% - 592px); }

  .services-list {
    padding: 0; }

  .services-list-item {
    margin: 0 50px 22px 0; }

  .dataVis1 {
    width: 478px;
    padding: 0;
    margin-right: 38px; }

  .directions-text {
    width: calc(100% - 516px); }

  .ceo-video-js, .city-container {
    width: 970px;
    height: 391px; }

  .ceo-photo {
    margin-left: 0; }

  .ceo-text {
    width: calc(100% - 410px);
    margin: 29px 0px 0 20px; }

  .contacts {
    padding: 60px 0 0 0; }

  .contact-input {
    width: 360px; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  #toTop {
    right: 30px; }

  /* planshets */
  .container {
    width: 750px; }

  .header-list-item:first-child, .header-list-item:nth-child(2) {
    margin-right: 15px; }

  .header-list-item:nth-child(3) {
    margin-right: 5px; }

  .header-list-item:last-child {
    margin-right: 10px; }

  .statistic-list-item {
    width: 180px; }

  #menu {
    display: none; }

  .header-top {
    margin: 0; }

  .header-logo {
    margin: 0 auto;
    width: 200px;
    display: block;
    float: none;
    margin-top: 10px; }

  .slicknav_menu {
    display: block; }
    .slicknav_menu .header-list-link {
      color: #ffffff; }

  .about-tv {
    width: 100%;
    float: none; }

  .about-tv-img {
    width: 100%;
    margin: 50px 0 0 0px; }
    .about-tv-img img {
      margin: 0 auto;
      display: block; }

  .about-text {
    width: 100%; }

  .services-list-item, .services-list-item:nth-child(3), .services-list-item:nth-child(6) {
    margin: 0 35px 22px 0; }

  .services-gadgets {
    width: 750px; }

  .dataVis1 {
    width: 350px;
    padding-left: 18px;
    margin-right: 20px; }

  .directions-categories {
    margin-top: 40px; }

  .directions-text {
    width: 360px;
    margin-top: 40px; }

  .city-container {
    width: 750px;
    height: 300px; }

  .ceo-city-video {
    width: 595px;
    padding-top: 0; }

  .ceo-video-js {
    width: 750px;
    height: 300px; }

  .ceo-photo {
    float: none;
    margin: 0 auto;
    margin-top: 10px; }

  .clients {
    display: none; }

  .statistic {
    margin-top: 20px; }

  .subscribe-input {
    width: 675px; }

  .address {
    float: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px; }

  .blog-item .latest-blog-picture-link {
    height: 250px !important;
    width: 250px !important; }

  .contact-form {
    margin: 35px 85px 0 60px; }

  .contact-input {
    padding-left: 20px;
    width: calc(99.5% - 20px);
    margin-bottom: 15px; }

  .contact-input-text {
    margin-top: 0; } }
@media screen and (min-width: 480px) and (max-width: 768px) {
  /*horizontal phones*/
  .container {
    width: 460px; }

  .slicknav_nav .header-list-item {
    margin-right: 0; }

  #menu {
    display: none; }

  .header-top {
    margin: 0; }

  .header-logo {
    margin: 0 auto;
    width: 200px;
    display: block;
    float: none;
    margin-top: 10px; }

  .slicknav_menu {
    display: block; }
    .slicknav_menu .header-list-link {
      color: #ffffff; }

  .welcome-work {
    padding: 0;
    flex-flow: row wrap; }

  .welcome-work-item {
    width: 230px;
    margin-bottom: 10px; }

  .about {
    margin-top: 0; }

  .about-tv {
    width: 100%;
    float: none; }

  .about-tv-img {
    margin: 50px 0 0 0px; }
    .about-tv-img img {
      width: 460px; }

  .about-text {
    width: 100%;
    float: none; }

  .services-list {
    padding: 0; }

  .services-list-item, .services-list-item:nth-child(3), .services-list-item:nth-child(6) {
    float: none;
    margin: 0 auto;
    margin-bottom: 10px; }

  .services-gadgets {
    display: none; }

  .dataVis1 {
    width: 460px;
    padding-left: 0; }

  .directions-text {
    margin-top: 0; }

  .city-container {
    width: 460px;
    height: 185px; }

  .ceo-city-video {
    width: 365px;
    padding-top: 0; }

  .ceo-video-js {
    width: 460px;
    height: 185px; }

  .ceo-city-text {
    display: none; }

  .ceo-photo {
    float: none;
    margin: 0 auto;
    margin-top: 10px; }

  .ceo-text {
    float: none;
    width: 100%; }

  .clients {
    display: none; }

  .statistic {
    margin-top: 10px; }

  .blog-list {
    flex-flow: row wrap;
    margin-top: 45px; }

  .blog-item {
    margin-bottom: 10px; }

  .latest-blog {
    margin-top: 36px; }

  .connected-item {
    margin: 0 20px; }

  .connected-list {
    flex-flow: row wrap;
    width: 100%; }

  .subscribe-input {
    width: 100%; }

  .subscribe-submit {
    right: -30px; }

  .contacts {
    padding: 30px 0px 0 0px;
    float: none;
    text-align: center; }
    .contacts .address {
      width: 100%; }

  .contact-form {
    margin: 35px 0px 0 0px; }
    .contact-form .contact-input, .contact-form textarea {
      float: none;
      width: calc(100% - 25px);
      margin-bottom: 10px; }

  #toTop {
    right: 30px; } }
@media screen and (min-width: 320px) and (max-width: 479px) {
  /* vertical phones */
  #toTop {
    right: 30px; }

  .container {
    width: 300px; }

  .slicknav_nav .header-list-item {
    margin-right: 0; }

  #menu {
    display: none; }

  .header-top {
    margin: 0; }

  .header-logo {
    margin: 0 auto;
    width: 200px;
    display: block;
    float: none;
    margin-top: 10px; }

  .header-know {
    padding-bottom: 40px; }

  .header-know-title {
    font-size: 40px; }

  .header-know-btn {
    width: 180px; }

  .slicknav_menu {
    display: block; }
    .slicknav_menu .header-list-item {
      display: block;
      width: 100%;
      float: none; }
    .slicknav_menu .header-list-link {
      color: #ffffff; }

  .welcome {
    margin-top: 30px; }

  .welcome-text {
    padding: 0; }

  .welcome-work {
    padding: 0;
    flex-flow: row wrap; }

  .welcome-work-item {
    width: 230px;
    margin-bottom: 10px; }

  .about-tv {
    width: 100%; }

  .about-tv-img {
    display: none; }

  .about-text {
    margin-top: 100px;
    width: 100%;
    float: none; }

  .services-list {
    padding: 0; }

  .services-list-item, .services-list-item:nth-child(3), .services-list-item:nth-child(6) {
    float: none;
    margin: 0 auto;
    margin-bottom: 10px; }

  .services-gadgets {
    display: none; }

  .dataVis1 {
    width: 300px;
    padding-left: 0; }

  .directions-text {
    float: none;
    margin-top: 10px;
    width: 100%; }

  .city-container, #my-video {
    display: none; }

  .ceo-photo {
    margin: 10px 0 0 0;
    width: 100%;
    height: 270px; }

  .ceo-text {
    float: none;
    width: 100%; }

  .clients, .statistic {
    display: none; }

  .blog-list {
    flex-flow: row wrap;
    margin-top: 45px; }

  .blog-item {
    margin-bottom: 10px; }

  .latest-blog {
    margin-top: 36px; }

  .connected-item {
    margin: 5px 20px; }

  .connected-list {
    flex-flow: row wrap;
    width: 100%; }

  .subscribe-input {
    width: calc(100% - 10px);
    padding: 0 10px; }

  .subscribe-submit {
    right: -5px; }

  .contacts {
    padding: 30px 0px 0 0px;
    float: none;
    text-align: center; }
    .contacts .address {
      width: 100%; }

  .contact-form {
    margin: 35px 0px 0 0px; }
    .contact-form .contact-input, .contact-form textarea {
      float: none;
      width: calc(100% - 25px);
      margin-bottom: 10px; }

  .connected {
    padding-bottom: 0; } }
@media screen and (min-width: 230px) and (max-width: 319px) {
  /* vertical phones */
  .container {
    width: 210px; }

  .slicknav_nav .header-list-item {
    margin-right: 0; }

  #menu {
    display: none; }

  .header-top {
    margin: 0; }

  .header-logo {
    margin: 0 auto;
    width: 200px;
    display: block;
    float: none;
    margin-top: 10px; }

  .header-know {
    padding-bottom: 0px;
    padding: 162px 0 10px 0;
    font-size: 20px; }

  .header-know-title {
    font-size: 25px;
    text-align: center; }

  .header-know-text {
    text-align: center; }

  .header-know-btn {
    width: 180px; }

  .slicknav_menu {
    display: block; }
    .slicknav_menu .header-list-item {
      display: block;
      width: 100%;
      float: none; }
    .slicknav_menu .header-list-link {
      color: #ffffff; }

  .welcome {
    margin-top: 30px; }

  .welcome-text {
    padding: 0; }

  .welcome-work {
    padding: 0;
    flex-flow: row wrap; }

  .welcome-work-item {
    width: 230px;
    margin-bottom: 10px; }

  .about-tv {
    width: 100%; }

  .about-tv-img {
    display: none; }

  .about-text {
    margin-top: 140px;
    width: 100%;
    float: none; }

  .services {
    display: none; }

  .services-gadgets {
    display: none; }

  .dataVis1 {
    width: 210px;
    padding-left: 0; }

  .dataVis1 li div {
    font-size: 10px; }

  .directions-text {
    float: none;
    margin-top: 10px;
    width: 100%; }

  .city-container, #my-video {
    display: none; }

  .ceo-photo {
    margin: 10px 0 0 0;
    width: 100%;
    height: 200px; }

  .ceo-text {
    float: none;
    width: 100%; }

  .clients, .statistic, .subscribe {
    display: none; }

  .blog-list {
    flex-flow: row wrap;
    margin-top: 45px; }

  .blog-item {
    margin-bottom: 10px; }

  .latest-blog {
    margin-top: 36px; }

  .connected-item {
    margin: 5px 20px; }

  .connected-list {
    flex-flow: row wrap;
    width: 100%; }

  .contacts {
    padding: 30px 0px 0 0px;
    float: none;
    text-align: center; }
    .contacts .address {
      width: 100%; }

  .contact-form {
    margin: 35px 0px 0 0px; }
    .contact-form .contact-input, .contact-form textarea {
      float: none;
      width: calc(100% - 25px);
      margin-bottom: 10px; }

  .contact-submit {
    width: 100%; }

  .connected {
    padding-bottom: 0; }

  #toTop {
    right: 30px; } }

/*# sourceMappingURL=responsive.css.map */
