@charset "UTF-8";

/*
font-family: 'Conv_aleo-light-webfont';
font-family: 'Conv_aleo-bolditalic-webfont';

font-family: 'Conv_New Cicle Fina;
font-family: 'Conv_ufonts.com_american-typewriter-light';

font-family: 'Raleway', sans-serif;
*/
/*general*/

$headerLogoTextColor: #3a3a3c;

$backgroundColor:#2ab99b;
$backgroundColor2:#f6f6f6;

.container{
//  width:1250px;
  margin:0 auto;
  overflow: hidden;
}

html {
  line-height: 1.0; }

a {
  text-decoration: none; }

ul,h2,h3{
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.landing-title{
  font-size: 38px;
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
}

.landing-title:after{
  background-color: rgb(42, 185, 155);
  width: 269px;
  height: 3px;
  display: block;
  content:'';
  position: absolute;
  bottom: -16px;
  left: calc(50% - 135px);
}

#toTop{
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 90px;
  right: 65px;
  overflow: hidden;
  border: none;
  z-index: 9900;
  background: $backgroundColor;
  cursor: pointer;

}
#toTop-cursor{
  background: url("../images/scroll.png") no-repeat;
  width:23px;
  height:23px;
  display: block;
  margin: 10px;
  opacity:.5;
  color:#fff;

  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -ms-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease;
}
#toTop:hover i{opacity:1}

/*slickNav menu*/


.slicknav_menu{
//  background: #FFFFFF;
  display: none;
  clear: both;


  .header-list-item{
    float:right;
    margin-right: 10px;
  }

  a{
    text-transform: uppercase;
    color: #3a3a3c;
    font-size: 13px;
  }


}


/*header*/
.header-top{
  margin: 30px 0 0 55px;
}

.header-logo{
  font-family: 'Conv_aleo-light-webfont';
  font-weight:300;
  display: block;
  float:left;
  color:#545456;

  font-size: 36px;
}

.header-logo-span{
  font-family: 'Conv_aleo-bolditalic-webfont';
  font-weight:bold;
  font-style:italic;
  color:$headerLogoTextColor;
}

.header-nav-list{
  float:right;
  margin-top: 11px;
}
.header-list-item{
  float:left;
  list-style: none;
}
.header-list-link{
  text-transform: uppercase;
  color:$headerLogoTextColor;
  font-size: 18px;
}

.header-list-link:hover{
  text-decoration: underline;
}

.header-list-item:first-child,.header-list-item:nth-child(2){
  margin-right:44px;
}

.header-list-item:nth-child(3){
  margin-right:29px;
}
.header-list-item:last-child{
  margin-right: 40px;
}
.header-know{
  margin-top: 25px;
  padding: 162px 0 0 48px;
  color:#ffffff;
  font-family:"Century Gothic",sans-serif;
  background: url("../images/header_bg.jpg") no-repeat top center;
  display: block;
  padding-bottom: 106px;
}

.header-know-title{
  font-size: 60px;
}

.header-know-text{
  font-size: 24px;
  font-style: italic;
  margin-top: 48px;
  padding-left: 8px;
  word-spacing: 1px;
}

.header-know-btn{
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  height: 60px;
  display: block;
  margin: 59px 0 0 11px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  width: 240px;
  line-height: 60px;
  color: #ffffff;
  font-size: 24px;
}

/*header end*/

/*welcome*/
.welcome{
  margin-top:66px;
  font-family: "Raleway";
}

.welcome-text{
  text-align: center;
  margin-top: 42px;
  padding: 0px 94px;
  font-size: 20px;
  line-height: 31px;
  font-weight: 600;
  letter-spacing: -1px;
  word-spacing: 2px;
}

.welcome-work{
  margin-top: 55px;
  padding: 0 85px;
  display: flex;
  justify-content: center;
}

.welcome-work-item{
  float:left;
  width:270px;
}

.welcome-work-box{
  width: 170px;
  margin: 0 auto;
  display: block;
}

.welcome-work-icon{
  border: 2px solid $backgroundColor;
  border-radius: 100%;
  /* line-height: 110px; */
  display: flex;
  /* padding: 0; */
  width: 160px;
  height: 160px;
  align-items: center;
  /* text-align: center; */
  position: relative;
}

.welcome-work-icon:hover{
  background: $backgroundColor;

  .welcome-work-img{
    background: url("../images/work-icon-white3.png");

    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 49px;
  }
}

.welcome-work-img{
  display: block;
  width: 49px;
  height: 52px;
  position: relative;
  left: 55px;
  top: 8px;
}

.welcome-work-title{
  margin-top: 24px;
  font-size: 27px;
  text-align: center;
  display: block;
  color:#000000;
}

/*welcome end*/

/*about*/
.about{
  background: $backgroundColor2;
  font-family: "Raleway";
  margin-top: 39px;
  padding-bottom: 19px;
}

.about-tv{
  width:622px;
  float:left;
  padding-top: 33px;
}

.about-tv-img{
  margin:90px 0 0 56px;
}

.about-text{
  width: calc(100% - 622px);
  float: left;
  font-size: 16px;
  text-align: left;
  line-height: 28px;
  font-weight: 600;
}

.about-text-intro{
  margin-top: 35px;
  padding-left: 4px;
}

.about-text-list{
  list-style: none;
  margin-top: 29px;
}
/*about end*/

/*services*/
.services{
  font-family: 'Raleway', sans-serif;
  margin-top: 45px;
}

.services .landing-title{
  font-size:34px;
}

.services .landing-title:after{
  width: 283px;
  bottom: -22px;
  left: calc(50% - 142px);
}

.services-list{
  margin-top: 60px;
  padding: 0 66px;
}

.services-list-item{
  list-style: none;
  float:left;
  width:273px;
//  margin: 0 135px 22px 0;
  margin: 0 109px 22px 0;
}

.services-header{
  position: relative;
  font-size:23px;
}

.services-square{
  display: inline-block;
  content: '';
  width: 35px;
  height: 35px;
  border: 4px solid $backgroundColor;
  /* top: 14px; */
  /* position: relative; */
  float: left;
}

.services-header-title{
  float: right;
  margin-top: 10px;
}

.services-text{
  margin: 11px 0 0 0px;
  line-height: 23px;
}

.services-list-item:nth-child(3),.services-list-item:nth-child(6){
//  margin: 0 0 22px 20px;
  margin:0 0 22px 0;
}

.services-gadgets{
  background-image: url("../images/gadgets.png");
  background-size: cover;
  width: 821px;
  height: 345px;
  margin:0 auto;
  margin-top: 41px;
}

/*services end*/

/*directions*/
.directions{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  background: $backgroundColor2;
  padding-top:51px;
}

//.directions .landing-title{
//  margin-top: 51px;
//}

.directions-categories{
  margin-top: 68px;
  float:left;
//  overflow: hidden;
}

.directions-text{
  float: left;
  margin-top: 68px;
//  width: 594px;
  width: 525px;
  line-height: 23px;
}

/*directions end*/

/*ceo*/

.city{
//  height: 504px;
//  background: url("../images/city.png") no-repeat;
  margin-top: 34px;
  margin-bottom: 47px;
  position: relative;
}

.city-container{
  position: absolute;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  height: 504px;
  width: 1170px;
}

.ceo-city-video{
  width: 930px;
  margin: 0 auto;
  padding-top: 36px;
  position: relative;
  z-index: 2;
}

.ceo-city-text{
  font-family: 'Garamond';
  font-style: italic;
  font-size: 49px;
  color: #ffffff;
  text-align: center;
}

.ceo-city-btn{
  width: 84px;
  height: 84px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  display: block;
  cursor: pointer;
}

.ceo-city-icon{
  background: url("../images/play.png") no-repeat;
  height: 30px;
  width: 30px;
  display: block;
  position: relative;
  top: 3px;
  left: 27px;
}

.ceo-video-js{
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  width:1170px;
  height: 470px;
}

.ceo-word{
  font-family: "Raleway",sans-serif;
  padding-top: 20px;
}

.ceo-photo{
  float:left;
  background: url("../images/CEO.png") no-repeat;
  width: 387px;
  height: 331px;
  margin-left: 60px;
  background-size: contain;
}
.ceo-text{
  float: right;
  width: 570px;
  font-size: 18px;
  margin: 29px 60px 0 0;
  line-height: 31px;
}

/*ceo end*/

/*clients*/
.clients{
  margin-top: 40px;
}

.clients-list{
//  padding: 0 60px;
  display: flex;
  justify-content: space-around;
}

.clients-list-item{
  float: left;
  list-style: none;
  display: flex;
  align-items: center;
  height: 200px;
}

.clients-link{
  display: block;
  height: 100px;
  width: 240px;
//  margin-right:72px;
}

//.clients-list-item:nth-child(4) .clients-link{
//  margin-right: 0;
//}

$map: ("1":87px,"2":57px,"3":69px,"4":87px);
@for $i from 1 through 4 {
  .client#{$i}{
    $value:"../images/cl#{$i}.png";
    background: url("#{$value}") no-repeat;
    height:map-get($map, inspect(#{$i}));
  }
}

/*clients end*/
/*statistic*/
.statistic{
  background: $backgroundColor;
//  padding: 65px 60px 60px 60px;
  padding: 65px 0px 60px 0px;
  font-family: 'Raleway',sans-serif;
  color:#ffffff;
  text-align: center;
}

.statistic-list{
  display: flex;
  justify-content: space-around;
}

.statistic-list-item{
  float:left;
  width: 200px;
  list-style: none;
}

.statistic-numbers{
  font-size: 32px;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.statistic-title{
  font-size:19px;
  text-transform: uppercase;
}
/*statistic end*/

/*latest-blog*/
.latest-blog{
  font-family: "Raleway",sans-serif;
  margin-top: 66px;
}

.latest-blog .landing-title{
  font-size:35px;
}

.blog-list{
  display: flex;
  justify-content: space-around;
  margin-top: 85px;
}
.blog-item{
  list-style: none;
}

.latest-blog-picture-link{
  height: 267px;
  width: 267px;
  display: block;
}

.latest-blog-picture-link:hover{
  opacity: 0.5;
}
.latest-blog-title{
  display: block;
  font-size: 23px;
  margin-top: 37px;
  text-align: center;
  color:#000000;
}

.latest-blog-title:hover{
  text-decoration: underline;
}

@for $i from 1 through 3 {
  .blog-item:nth-child(#{$i}) .latest-blog-picture-link{
    $value:"../images/blog#{$i}.jpg";
    background: url("#{$value}") no-repeat;
    height:267px;
    width:267px;
  }
}

.latest-blog-text{
  font-size: 16px;
  width: 267px;
  margin-top: 24px;
}
/*latest end*/

/*connected*/
.connected{
  margin-top: 50px;
  padding-top: 30px;
  font-family: "Raleway",sans-serif;
  background: $backgroundColor2;
  padding-bottom: 52px;
}

.connected-text{
  font-size: 20px;
  text-align: center;
  margin-top: 45px;
  line-height: 25px;
}

.connected-list{
  display: flex;
  justify-content: space-around;
  width: 585px;
  margin: 30px auto;
}

.connected-item{
  list-style: none;
}

@for $i from 1 through 8 {
  .connected-item:nth-child(#{$i}) .connected-link{
    $value:"../images/connectedIcon#{$i}.png";
    background: url("#{$value}") no-repeat;
  }
}
.connected-link{
  width: 64px;
  height: 64px;
  display: block;
}

/*connected end*/


/*subscribe*/

.subscribe{
  margin-top: 45px;
  display: flex;
  align-items:center;
  font-family: "Raleway",sans-serif;
}
.subscribe-form{
  margin: 0 auto;
  display: block;
  position: relative;
}

.subscribe-input{
  width: 795px;
  border: 1px solid #2ab99b;
  display: block;
  height: 68px;
  padding: 0 30px;
  font-size: 20px;

}

.subscribe-input:-moz-placeholder{
  color: #000;
  opacity: 1;
}

.subscribe-input::-moz-placeholder{
  color: #000;
  opacity: 1;
}

.subscribe-input::-webkit-input-placeholder{
  color: #000;
  opacity: 1;
}

.subscribe-submit{
  position: absolute;
  background: url("../images/send.png") no-repeat;
  width: 23px;
  height: 23px;
  top: 25px;
  right: 22px;
  border: none;
  cursor: pointer;
}
/*subscribe end*/

/*contact*/
.contactus{
  font-family: "Raleway",sans-serif;
  padding-top: 33px;
  font-size:20px;
}

.contacts{
  padding: 60px 85px 0 85px;
}
.address{
  float: left;
  width: 340px;
  padding: 20px 0 0 5px;
  line-height: 30px;
}

.map{
  float:right;
  width: 600px;
  height: 200px;
}

.contactus-title{
  text-align:center;
  margin-top: 30px;
}

.contact-form{
  margin: 35px 85px 0 90px;
}

.contact-input{
//  width:480px;
  width:470px;
  height:45px;
  border:1px solid $backgroundColor;
  padding-left: 20px;
}

.contact-name{
  float:left;
}
.contact-email{
  float:right;
}

.contact-input-text{
  margin-top: 15px;
  border: 1px solid #2ab99b;
  width: calc(99.5% - 20px);
  height: 120px;
  padding-left: 20px;
}

.contact-submit{
  background: $backgroundColor;
  display: block;
  float: right;
  width: 205px;
  margin-top: 15px;
  height: 45px;
  border: 0;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.contact-input:-moz-placeholder,.contact-input-text:-moz-placeholder{
  color: #000;
  opacity: 1;
}

.contact-input::-moz-placeholder,.contact-input-text::-moz-placeholder{
  color: #000;
  opacity: 1;
}

.contact-input::-webkit-input-placeholder,.contact-input-text::-webkit-input-placeholder{
  color: #000;
  opacity: 1;
}
/*contact end*/

/*footer*/
.footer{
  background: $backgroundColor;
  font-family: "Raleway",sans-serif;
  margin-top: 80px;
}

.footer-text{
  float: right;
  margin: 38px 85px;
  color: #ffffff;
  font-size: 15px;
}